ClienteDuo/Connected Services/DataService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureID" type="xs:int" />
      <xs:element minOccurs="0" name="TotalWins" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="FriendRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendRequestID" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiverID" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiverUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderID" type="xs:int" />
      <xs:element minOccurs="0" name="SenderUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequestDTO" nillable="true" type="tns:FriendRequestDTO" />
  <xs:complexType name="ArrayOfFriendRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequestDTO" nillable="true" type="tns:FriendRequestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequestDTO" nillable="true" type="tns:ArrayOfFriendRequestDTO" />
  <xs:complexType name="ArrayOfFriendshipDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendshipDTO" nillable="true" type="tns:FriendshipDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendshipDTO" nillable="true" type="tns:ArrayOfFriendshipDTO" />
  <xs:complexType name="FriendshipDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Friend1ID" type="xs:int" />
      <xs:element minOccurs="0" name="Friend1Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Friend2ID" type="xs:int" />
      <xs:element minOccurs="0" name="Friend2Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendshipID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendshipDTO" nillable="true" type="tns:FriendshipDTO" />
  <xs:complexType name="ArrayOfUserBlockedDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBlockedDTO" nillable="true" type="tns:UserBlockedDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBlockedDTO" nillable="true" type="tns:ArrayOfUserBlockedDTO" />
  <xs:complexType name="UserBlockedDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlockID" type="xs:int" />
      <xs:element minOccurs="0" name="BlockedID" type="xs:int" />
      <xs:element minOccurs="0" name="BlockedUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBlockedDTO" nillable="true" type="tns:UserBlockedDTO" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
</xs:schema>